*{
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: visible;
  
}

.background {
  background-image: url(./components/images/plant.jpg);
  background-size: cover;
  background-position: center;
}



body {
  margin-left: 50px;
  margin-right: 50px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Moon';
  src: url('./fonts/moon.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mis';
  src: url('./fonts/Misologist.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: none;
}

.centered-text {
  text-align: center;
  background: none;
  margin-top: -400px;
}

.title {
  font-size: 160px;
  background: none;
  font-family: Mis;
  transition: 0.5s;
}

.title:hover {
  font-size: 180px;
}

.supporting {
  font-family: Mis;
  transition: 0.5s ease-out;
}

.supporting:hover{
  font-size: 30px;
}

.full {
  height: 100vh;
}

.custom-btn {
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  font-size: 15px;
  font-family: Mis;
  background: none;
  border-radius: 100px;
  transition: 0.5s;
  color: rgb(17, 17, 17);
  border: 1px solid black;
}

.custom-btn:hover {
  font-size: 20px;
}


.regular-bg {
  background-color: #e7e8e5;
}

.title-2 {
  font-size: 100px;
  background: none;
  font-family: Mis;
  transition: 0.5s;
}

.seperator {
  margin-top: 100px;
}

.left-sep{
  margin-left: 50px;
}

.para-text {
  margin-right: 50px;
}

.custom {
  font-size: 50px;
  font-family: Mis;
  margin-top: -30px;
}



@media (max-width: 768px) {
  .title{
    font-size: 120px; 
    line-height: 120px;
  }

  .title-2 {
    margin-top: 20px;
    font-size: 80px;
  }

  .port{
    margin-right: 100px;
  }

  #portrait-img {
    margin-top: 30px;
    margin-left: 30px;
    max-width: 290px;
  }
}



/* Keyframes for fade-in and slide-down */
@keyframes fadeInSlideDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Apply the animation to your text elements */
.centered-text h5, 
.centered-text h2, 
.centered-text button {
  opacity: 0;
  animation: fadeInSlideDown 1s ease-out forwards;
}

/* Stagger the animations */
.centered-text h5 {
  animation-delay: 0.2s;
}

.centered-text h2 {
  animation-delay: 0.4s;
}

.centered-text button {
  animation-delay: 0.6s;
}

/* Animation for the About section */
.about-section {
  opacity: 0;
  animation: fadeInSlideDown 1s ease-out forwards;
}

.about-section.animate {
  opacity: 1;
  transform: translateY(0);
}


/* Optional: Add some additional styling */
.custom-btn {
  margin-top: 10px;
}

